{% extends 'admin.html.twig' %}

{% block title %}Catégories{% endblock %}

{% block body %}
    {% include '_breadcrumbs.html.twig' with {items: ['Enshrouded', 'Recettes', 'Catégories']} %}

    <div class="flex gap-4 justify-between mb-4 items-center">
        <h1 class="mb-0">Catégories</h1>
        <a href="{{ path('app_admin_enshrouded_recipe_category_new') }}" class="btn btn-primary">Ajouter</a>
    </div>

    <table class="table rounded-lg shadow w-full my-4">
        <thead>
            <tr>
                <th width="1">Id</th>
                <th>Catégorie</th>
                <th width="1">&nbsp;</th>
            </tr>
        </thead>
        <tbody>

        {% if recipe_categories %}
            {% include 'admin/enshrouded/recipe_category/_children.html.twig' with {childs: recipe_categories, move: false} %}
        {% else %}
            <tr>
                <td colspan="3">Aucune catégorie</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
