{% form_theme form 'form/admin.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="flex gap-4 justify-between">
        <button class="btn btn-primary">Enregistrer</button>
        <a href="{{ path('app_admin_enshrouded_recipe_source_index') }}" class="btn btn-outline">Retourner à la liste</a>
    </div>
{{ form_end(form) }}
