{% extends 'admin.html.twig' %}

{% block title %}Modifier un objet{% endblock %}

{% block body %}
    {% include '_breadcrumbs.html.twig' with {items: ['Enshrouded', 'Objets', 'Modifier']} %}
    <h1>Modifier un objet</h1>
    {{ include('admin/enshrouded/item/_form.html.twig') }}
    {{ include('admin/enshrouded/item/_delete_form.html.twig') }}
{% endblock %}
