{% extends 'admin.html.twig' %}

{% block title %}Modifier un marqueur{% endblock %}

{% block body %}
    {% include '_breadcrumbs.html.twig' with {items: ['Enshrouded', 'Carte interactive', 'Marqueurs', 'Modifier']} %}
    <h1>Modifier un marqueur</h1>
    {{ include('admin/enshrouded/map_marker/_form.html.twig') }}
    {{ include('admin/enshrouded/map_marker/_delete_form.html.twig') }}
{% endblock %}
