{% extends 'base.html.twig' %}

{% block body %}
    <div class="card bg-base-100 shadow-sm max-w-xs mx-auto">
        <div class="card-body">
            <div class="avatar mx-auto">
                <div class="ring-primary ring-offset-base-100 w-24 rounded-full ring-2 ring-offset-2">
                    <img src="{{ app.user.avatar }}" />
                </div>
            </div>
            <div class="card-title text-center justify-center">{{ app.user.nickname }}</div>
            <div class="card-actions flex-col">
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('admin') }}" class="btn w-full">Administration</a>
                {% endif %}
                <a class="btn btn-error w-full" href="{{ path('app_logout') }}">Déconnexion</a>
            </div>
        </div>
    </div>
{% endblock %}
