# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    aleeva.api.key: '%env(ALEEVA_API_KEY)%'
    api.uploads.gw2.items: '%kernel.project_dir%/public/uploads/api/gw2/items'
    gw2.api.url: 'https://api.guildwars2.com/v2'
    mailer.from.email: '%env(MAILER_FROM_EMAIL)%'
    mailer.from.name: '%env(MAILER_FORM_NAME)%'
    lbm.discord.id: '%env(LBM_DISCORD_ID)%'
    lbm.event.image: '/uploads/lbm/events'
services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    App\EventListener\SuccessLoginListener:
        tags:
            - { name: 'kernel.event_listener', event: 'security.interactive_login' }

    App\EventListener\LogoutListener:
        tags:
            - { name: 'kernel.event_listener', event: Symfony\Component\Security\Http\Event\LogoutEvent }