{% extends 'admin.html.twig' %}

{% block title %}Modifier une catégorie{% endblock %}

{% block body %}
    {% include '_breadcrumbs.html.twig' with {items: ['Enshrouded', 'Objets', 'Catégories', 'Modifier']} %}
    <h1>Modifier une catégorie</h1>
    {{ include('admin/enshrouded/item_category/_form.html.twig') }}
    {{ include('admin/enshrouded/item_category/_delete_form.html.twig') }}
{% endblock %}
