{% extends 'admin.html.twig' %}

{% block body %}
    <form class="rounded-xl shadow-lg bg-base-100 border p-6 max-w-xl mx-auto flex flex-col gap-4 mt-6" action="{{ path('app_admin_login') }}" method="post" autocomplete="off">
        <h1 class="text-3xl text-primary font-semibold leading-5 mb-2">Connexion</h1>
        {% if error %}
            <div class="text-red-500">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="form-control w-full">
            <label class="label" for="username">
                <span class="label-text">Adresse e-mail</span>
            </label>
            <input type="email" placeholder="john.doe@lebusmagique.fr" class="input input-bordered" id="username" name="_username" value="{{ last_username }}" required>
        </div>
        <div class="form-control w-full">
            <label class="label" id="password">
                <span class="label-text">Mot de passe</span>
            </label>
            <input type="password" placeholder="***************"  class="input input-bordered" id="password" name="_password" required>
        </div>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
        <button type="submit" class="btn">Se connecter</button>
    </form>
{% endblock %}
